@import "~sass-mq";

$mq-breakpoints: (
  mobile: 320px,
  tablet: 660px,
  desktop: 980px,
  wide: 1300px,
);

$colour-white: #fff;
$colour-grey: #666;
$colour-blue-light: #0055ee;
$colour-blue-dark: #1f66cc;
$colour-purple: #7755cc;

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;

  @include mq($from: tablet) {
    font-size: 17px;
  }
}

.image {
  img {
    display: block;
    width: 100%;
  }

  &--float {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 2rem 0;

    @include mq($from: tablet) {
      width: 35%;
      float: right;
      margin: 0 0 1rem 1rem;
    }
  }
}

.date {
  font-size: 12px;

  @include mq($from: tablet) {
    font-size: 13px;
  }
}
